<div>
            <hr>
            <p><small>读者评论:</small></p>
            <% @article.comments.each do |comment| %>
                      
            <table>
                <tr>
                  <td rowspan="2" width="25%"> <img src="../assets/article.png"></td>
                  <td><p><small>名字:<%=comment.name%></small></p></td>
                </tr>

                <tr>
                  <td><p><small>评论时间:<%=comment.created_at%></small></p></td>
                </tr>

                <% if signed_in? %>
                <tr>
                  <td rowspan="2"><p><small>
                  <%= link_to '删除评论',[comment.article,comment],:confirm=>'确定删除？',:method=> :delete %>                    
                  </small></p></td>
                </tr>
                <% end %>
                <hr>

            </table>                          
              <p>
                <%=raw comment.content %>
              </p>
            <% end %>
</div>
